 Will show all outdated packages when running `pnpm outdated`
 all=true
 # Set the default audit level to high
 audit-level=high
 # Installs any missing non-peer dependencies (pnpm specific)
 auto-install-peers=true
 # Packages with peer dependencies will be deduplicated after peers resolution
 dedupe-peer-dependencies=true
 # Refuse installing dependencies that do not work with below node version
 engine-strict=true
 # This is needed for pnpm to understand which version of node to use.
 node-version=18.15.0
 # Only allow patch upgrades by default
 save-prefix=~
