---
import BaseLayout from '@layouts/BaseLayout.astro'
import Head from '@components/Head.astro'
---

<BaseLayout>
	<Head slot='metadata' />
	<main slot='content'>
		<h1>Astro</h1>
	</main>
</BaseLayout>
