---
import Link from './link.astro'
import type { Article } from '~/content/config'
import { formatDate, formatToDateTimeString } from '~/utils/strings'

export type Props = {
	article: Article['data']
	slug: string
}

const { article, slug } = Astro.props
---

<article class='md:grid md:grid-cols-4 md:items-baseline'>
	<div class='group relative flex flex-col items-start md:col-span-3'>
		<h2
			class='text-base font-semibold tracking-tight text-primary-800 dark:text-primary-100'
		>
			<div
				class='absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-primary-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-primary-800/50 sm:-inset-x-6 sm:rounded-2xl'
			>
			</div>
			<Link aria-label={`Go to ${article.title}`} href={`/articles/${slug}`}>
				<span
					class='absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl'
				></span>
				<span class='relative z-10'>{article.title}</span>
			</Link>
		</h2>
		<time
			class='relative z-10 order-first mb-3 flex items-center pl-3.5 text-sm text-primary-400 dark:text-primary-500 md:hidden'
			datetime={formatToDateTimeString(
				article.updatedAt ?? article.publishedAt ?? article.createdAt
			)}
		>
			<span
				aria-hidden='true'
				class='absolute inset-y-0 left-0 flex items-center'
			>
				<span class='h-4 w-0.5 rounded-full bg-primary-200 dark:bg-primary-500'
				></span>
			</span>
			{
				formatDate(
					article.updatedAt ?? article.publishedAt ?? article.createdAt
				)
			}
		</time>
		<p
			class='relative z-10 mt-2 text-sm text-primary-600 dark:text-primary-400'
		>
			{article.description}
		</p>
		<div
			aria-hidden='true'
			class='relative z-10 mt-4 flex items-center text-sm font-medium text-accent-500'
		>
			Read article
			<svg
				aria-hidden='true'
				class='ml-1 h-4 w-4 stroke-current'
				fill='none'
				view-box='0 0 16 16'
			>
				<path
					d='M6.75 5.75 9.25 8l-2.5 2.25'
					stroke-linecap='round'
					stroke-linejoin='round'
					stroke-width='1.5'></path>
			</svg>
		</div>
	</div>
	<time
		class='relative z-10 order-first mb-3 mt-1 hidden text-sm text-primary-400 dark:text-primary-500 md:block'
		datetime={formatToDateTimeString(
			article.updatedAt ?? article.publishedAt ?? article.createdAt
		)}
	>
		{formatDate(article.updatedAt ?? article.publishedAt ?? article.createdAt)}
	</time>
</article>
