---
export interface Props {
	readonly youtubeId: string
}

const { youtubeId } = Astro.props
---

<div class='flex items-center justify-center'>
	<iframe
		allowfullscreen
		frameborder='1'
		height='400px'
		marginheight='0px'
		marginwidth='0px'
		name='myiFrame'
		scrolling='no'
		src={`https://www.youtube.com/embed/${youtubeId}`}
		style='border:0px #ffffff none;'
		title='YouTube video player'
		width='600px'></iframe>
</div>
